## Chicago Public Schools Report Card Data

In this case study we will analyzing and querying the report cards data available from chicago public schools. To begin with, the dataset is already uploaded to the IBM DB2 cloud console with a table name of SCHOOLS. From here on now we do not need to use PERSIST magic function to load the huge dataset. However, we will try to establish a connection with the console first.

In [2]:
%load_ext sql

In [3]:
%sql ibm_db_sa://trc40191:ptmIhOTtWcaA8SsK@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB?security=SSL

### Retreiving Table Metadata from our table schema

In [4]:
%sql select * from syscat.tables where tabschema = 'TRC40191'

 * ibm_db_sa://trc40191:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[('TRC40191', 'JOB_HISTORY', 'TRC40191', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2022, 2, 13, 14, 2, 41, 13706), datetime.datetime(2022, 2, 13, 14, 2, 41, 163746), datetime.datetime(2022, 2, 13, 14, 2, 41, 163764), datetime.datetime(2022, 2, 13, 14, 46, 15, 322166), 4, 6, 4282, 10, 1, 0, 2, -1, -1, -1, 0, 'TRC40191SPACE1', None, None, 0, 0, 0, 2, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 43, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2022, 2, 13, 14, 2, 41, 13706), 0, ' ', None, None, 'N', 'TRC40191', ' ', ' ', ' ', datetime.date(2022, 2, 13), ' ', 'N', 'R', 'N', -1.0, None),
 ('TRC40191', 'JOBS', 'TRC40191', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2022, 2, 13, 14, 2, 41, 184691), datetime.datetime(2022, 2, 13, 14, 2, 41, 326834), datetime.datetime(2022, 2, 13, 14, 2, 41, 326854), datetime.datetime(2022, 2, 13, 14, 46, 15, 532045), 4, 7, 4282, 10, 1, 0, 2, -1, -1, -1, 0, 'TRC40191SPACE1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 53, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2022, 2, 13, 14, 2, 41, 184691), 0, ' ', None, None, 'N', 'TRC40191', ' ', ' ', ' ', datetime.date(2022, 2, 13), ' ', 'N', 'R', 'N', -1.0, None),
 ('TRC40191', 'DEPARTMENTS', 'TRC40191', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2022, 2, 13, 14, 2, 41, 344832), datetime.datetime(2022, 2, 13, 14, 2, 41, 483867), datetime.datetime(2022, 2, 13, 14, 2, 41, 483888), datetime.datetime(2022, 2, 13, 14, 20, 14, 700020), 4, 8, 4282, 3, 1, 0, 2, -1, -1, -1, 0, 'TRC40191SPACE1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 57, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2022, 2, 13, 14, 2, 41, 344832), 0, ' ', None, None, 'N', 'TRC40191', ' ', ' ', ' ', datetime.date(2022, 2, 13), ' ', 'N', 'R', 'N', -1.0, None),
 ('TRC40191', 'PETSALE', 'TRC40191', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2022, 2, 13, 11, 17, 54, 451519), datetime.datetime(2022, 2, 13, 11, 57, 23, 309552), datetime.datetime(2022, 2, 13, 11, 57, 23, 309560), datetime.datetime(2022, 2, 14, 15, 46, 17, 586550), 5, 4, 4282, 10, 1, 0, 1, -1, -1, -1, 0, 'TRC40191SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 54, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2022, 2, 13, 11, 17, 54, 451519), 0, ' ', None, None, 'N', 'TRC40191', ' ', ' ', ' ', datetime.date(2022, 2, 13), ' ', 'N', 'R', 'N', -1.0, None),
 ('TRC40191', 'LOCATIONS', 'TRC40191', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2022, 2, 13, 14, 2, 41, 499191), datetime.datetime(2022, 2, 13, 14, 2, 41, 636359), datetime.datetime(2022, 2, 13, 14, 2, 41, 636381), datetime.datetime(2022, 2, 13, 14, 18, 11, 152066), 2, 9, 4282, 3, 1, 0, 2, -1, -1, -1, 0, 'TRC40191SPACE1', None, None, 0, 0, 0, 2, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 28, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2022, 2, 13, 14, 2, 41, 499191), 0, ' ', None, None, 'N', 'TRC40191', ' ', ' ', ' ', datetime.date(2022, 2, 13), ' ', 'N', 'R', 'N', -1.0, None),
 ('TRC40191', 'EMPLOYEES', 'TRC40191', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2022, 2, 13, 14, 2, 40, 846337), datetime.datetime(2022, 2, 13, 14, 2, 40, 995865), datetime.datetime(2022, 2, 13, 14, 2, 40, 995886), datetime.datetime(2022, 2, 13, 14, 46, 45, 734197), 11, 5, 4282, 10, 1, 0, 2, -1, -1, -1, 0, 'TRC40191SPACE1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 118, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2022, 2, 13, 14, 2, 40, 846337), 0, ' ', None, None, 'N', 'TRC40191', ' ', ' ', ' ', datetime.date(1, 1, 1), ' ', 'N', 'R', 'N', -1.0, None),
 ('TRC40191', 'PETRESCUE', 'TRC40191', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2022, 2, 14, 6, 43, 16, 567729), datetime.datetime(2022, 2, 14, 6, 43, 16, 782392), datetime.datetime(2022, 2, 14, 6, 43, 16, 782412), datetime.datetime(2022, 2, 14, 6, 44, 55, 604331), 5, 10, 4282, 9, 1, 0, 1, -1, -1, -1, 0, 'TRC40191SPACE1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 38, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2022, 2, 14, 6, 43, 16, 567729), 0, ' ', None, None, 'N', 'TRC40191', ' ', ' ', ' ', datetime.date(2022, 2, 14), ' ', 'N', 'R', 'N', -1.0, None),
 ('TRC40191', 'INTERNATIONAL_STUDENT_TEST_SCORES', 'TRC40191', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2022, 2, 14, 10, 43, 3, 270080), datetime.datetime(2022, 2, 14, 10, 43, 3, 270080), datetime.datetime(2022, 2, 14, 10, 43, 3, 270080), datetime.datetime(2022, 2, 14, 10, 43, 16, 43651), 4, 11, 4282, 99, 1, 0, 1, -1, -1, -1, 0, 'TRC40191SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 49, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2022, 2, 14, 10, 43, 3, 270080), 0, ' ', None, None, 'N', 'TRC40191', ' ', ' ', ' ', datetime.date(1, 1, 1), ' ', 'N', 'R', 'N', -1.0, None),
 ('TRC40191', 'SCHOOLS', 'TRC40191', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2022, 2, 14, 11, 51, 12, 507872), datetime.datetime(2022, 2, 14, 11, 51, 12, 507872), datetime.datetime(2022, 2, 14, 11, 51, 12, 507872), datetime.datetime(2022, 2, 14, 11, 52, 16, 190365), 78, 12, 4282, 566, 15, 0, 16, -1, -1, -1, 0, 'TRC40191SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 843, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2022, 2, 14, 11, 51, 12, 507872), 0, ' ', None, None, 'N', 'TRC40191', ' ', ' ', ' ', datetime.date(1, 1, 1), ' ', 'N', 'R', 'N', -1.0, None),
 ('TRC40191', 'CENSUS_DATA', 'TRC40191', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2022, 2, 14, 13, 9, 30, 426892), datetime.datetime(2022, 2, 14, 13, 9, 30, 426892), datetime.datetime(2022, 2, 14, 13, 9, 30, 426892), datetime.datetime(2022, 2, 14, 13, 23, 27, 726975), 9, 13, 4282, 78, 1, 0, 2, -1, -1, -1, 0, 'TRC40191SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 57, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2022, 2, 14, 13, 9, 30, 426892), 0, ' ', None, None, 'N', 'TRC40191', ' ', ' ', ' ', datetime.date(2022, 2, 14), ' ', 'N', 'R', 'N', -1.0, None),
 ('TRC40191', 'CHICAGO_CRIME_DATA', 'TRC40191', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2022, 2, 14, 13, 11, 43, 571027), datetime.datetime(2022, 2, 14, 13, 11, 43, 571027), datetime.datetime(2022, 2, 14, 13, 11, 43, 571027), datetime.datetime(2022, 2, 14, 13, 18, 34, 381410), 21, 14, 4282, 533, 4, 0, 5, -1, -1, -1, 0, 'TRC40191SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 223, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2022, 2, 14, 13, 11, 43, 571027), 0, ' ', None, None, 'N', 'TRC40191', ' ', ' ', ' ', datetime.date(2022, 2, 14), ' ', 'N', 'R', 'N', -1.0, None),
 ('TRC40191', 'CHICAGO_PUBLIC_SCHOOLS', 'TRC40191', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2022, 2, 14, 13, 14, 20, 830363), datetime.datetime(2022, 2, 14, 13, 14, 20, 830363), datetime.datetime(2022, 2, 14, 13, 14, 20, 830363), datetime.datetime(2022, 2, 14, 13, 51, 22, 833379), 78, 15, 4282, 566, 15, 0, 16, -1, -1, -1, 0, 'TRC40191SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 843, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2022, 2, 14, 13, 14, 20, 830363), 0, ' ', None, None, 'N', 'TRC40191', ' ', ' ', ' ', datetime.date(2022, 2, 14), ' ', 'N', 'R', 'N', -1.0, None)]

### Retreiving Column Metadata from our table Schools

In [5]:
%sql select COUNT(*) from syscat.columns where tabname = 'SCHOOLS'

 * ibm_db_sa://trc40191:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[(78,)]

### Retreiving column list, datatypes and length from Table SCHOOLS

In [6]:
%sql select colname, typename, length from syscat.columns where tabname = 'SCHOOLS'

 * ibm_db_sa://trc40191:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[('SCHOOL_ID', 'INTEGER', 4),
 ('NAME_OF_SCHOOL', 'VARCHAR', 64),
 ('Elementary, Middle, or High School', 'VARCHAR', 2),
 ('STREET_ADDRESS', 'VARCHAR', 29),
 ('CITY', 'VARCHAR', 7),
 ('STATE', 'VARCHAR', 2),
 ('ZIP_CODE', 'INTEGER', 4),
 ('PHONE_NUMBER', 'VARCHAR', 14),
 ('LINK', 'VARCHAR', 78),
 ('NETWORK_MANAGER', 'VARCHAR', 40),
 ('COLLABORATIVE_NAME', 'VARCHAR', 34),
 ('ADEQUATE_YEARLY_PROGRESS_MADE_', 'VARCHAR', 3),
 ('TRACK_SCHEDULE', 'VARCHAR', 12),
 ('CPS_PERFORMANCE_POLICY_STATUS', 'VARCHAR', 16),
 ('CPS_PERFORMANCE_POLICY_LEVEL', 'VARCHAR', 15),
 ('HEALTHY_SCHOOL_CERTIFIED', 'VARCHAR', 3),
 ('SAFETY_ICON', 'VARCHAR', 11),
 ('SAFETY_SCORE', 'SMALLINT', 2),
 ('FAMILY_INVOLVEMENT_ICON', 'VARCHAR', 11),
 ('FAMILY_INVOLVEMENT_SCORE', 'VARCHAR', 3),
 ('ENVIRONMENT_ICON', 'VARCHAR', 11),
 ('ENVIRONMENT_SCORE', 'SMALLINT', 2),
 ('INSTRUCTION_ICON', 'VARCHAR', 11),
 ('INSTRUCTION_SCORE', 'SMALLINT', 2),
 ('LEADERS_ICON', 'VARCHAR', 4),
 ('LEADERS_SCORE', 'VARCHAR', 3),
 ('TEACHERS_ICON', 'VARCHAR', 11),
 ('TEACHERS_SCORE', 'VARCHAR', 3),
 ('PARENT_ENGAGEMENT_ICON', 'VARCHAR', 7),
 ('PARENT_ENGAGEMENT_SCORE', 'VARCHAR', 3),
 ('PARENT_ENVIRONMENT_ICON', 'VARCHAR', 7),
 ('PARENT_ENVIRONMENT_SCORE', 'VARCHAR', 3),
 ('AVERAGE_STUDENT_ATTENDANCE', 'VARCHAR', 6),
 ('RATE_OF_MISCONDUCTS__PER_100_STUDENTS_', 'DECIMAL', 5),
 ('AVERAGE_TEACHER_ATTENDANCE', 'VARCHAR', 6),
 ('INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE', 'VARCHAR', 7),
 ('PK_2_LITERACY__', 'VARCHAR', 4),
 ('PK_2_MATH__', 'VARCHAR', 4),
 ('GR3_5_GRADE_LEVEL_MATH__', 'VARCHAR', 4),
 ('GR3_5_GRADE_LEVEL_READ__', 'VARCHAR', 4),
 ('GR3_5_KEEP_PACE_READ__', 'VARCHAR', 4),
 ('GR3_5_KEEP_PACE_MATH__', 'VARCHAR', 4),
 ('GR6_8_GRADE_LEVEL_MATH__', 'VARCHAR', 4),
 ('GR6_8_GRADE_LEVEL_READ__', 'VARCHAR', 4),
 ('GR6_8_KEEP_PACE_MATH_', 'VARCHAR', 4),
 ('GR6_8_KEEP_PACE_READ__', 'VARCHAR', 4),
 ('GR_8_EXPLORE_MATH__', 'VARCHAR', 4),
 ('GR_8_EXPLORE_READ__', 'VARCHAR', 4),
 ('ISAT_EXCEEDING_MATH__', 'DECIMAL', 4),
 ('ISAT_EXCEEDING_READING__', 'DECIMAL', 4),
 ('ISAT_VALUE_ADD_MATH', 'DECIMAL', 3),
 ('ISAT_VALUE_ADD_READ', 'DECIMAL', 3),
 ('ISAT_VALUE_ADD_COLOR_MATH', 'VARCHAR', 6),
 ('ISAT_VALUE_ADD_COLOR_READ', 'VARCHAR', 6),
 ('STUDENTS_TAKING__ALGEBRA__', 'VARCHAR', 4),
 ('STUDENTS_PASSING__ALGEBRA__', 'VARCHAR', 4),
 ('9th Grade EXPLORE (2009)', 'VARCHAR', 4),
 ('9th Grade EXPLORE (2010)', 'VARCHAR', 4),
 ('10th Grade PLAN (2009)', 'VARCHAR', 4),
 ('10th Grade PLAN (2010)', 'VARCHAR', 4),
 ('NET_CHANGE_EXPLORE_AND_PLAN', 'VARCHAR', 3),
 ('11th Grade Average ACT (2011)', 'VARCHAR', 4),
 ('NET_CHANGE_PLAN_AND_ACT', 'VARCHAR', 3),
 ('COLLEGE_ELIGIBILITY__', 'VARCHAR', 4),
 ('GRADUATION_RATE__', 'VARCHAR', 4),
 ('COLLEGE_ENROLLMENT_RATE__', 'VARCHAR', 4),
 ('COLLEGE_ENROLLMENT', 'SMALLINT', 2),
 ('GENERAL_SERVICES_ROUTE', 'SMALLINT', 2),
 ('FRESHMAN_ON_TRACK_RATE__', 'VARCHAR', 4),
 ('X_COORDINATE', 'DECIMAL', 13),
 ('Y_COORDINATE', 'DECIMAL', 13),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NAME', 'VARCHAR', 22),
 ('WARD', 'SMALLINT', 2),
 ('POLICE_DISTRICT', 'SMALLINT', 2),
 ('LOCATION', 'VARCHAR', 27)]

### Problem Questions:

How many Elementary Schools are in the dataset?

In [9]:
%sql select count(*) from SCHOOLS WHERE  'Elementary, Middle, or High School' = 'ES'

 * ibm_db_sa://trc40191:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[(0,)]

What is the highest Safety Score?

In [10]:
%sql select MAX(SAFETY_SCORE) from SCHOOLS

 * ibm_db_sa://trc40191:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[(99,)]

Which schools have highest Safety Score?

In [11]:
%sql select NAME_OF_SCHOOL from SCHOOLS where SAFETY_SCORE ='99'

 * ibm_db_sa://trc40191:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[('Abraham Lincoln Elementary School',),
 ('Alexander Graham Bell Elementary School',),
 ('Annie Keller Elementary Gifted Magnet School',),
 ('Augustus H Burley Elementary School',),
 ('Edgar Allan Poe Elementary Classical School',),
 ('Edgebrook Elementary School',),
 ('Ellen Mitchell Elementary School',),
 ('James E McDade Elementary Classical School',),
 ('James G Blaine Elementary School',),
 ('LaSalle Elementary Language Academy',),
 ('Mary E Courtenay Elementary Language Arts Center',),
 ('Northside College Preparatory High School',),
 ('Northside Learning Center High School',),
 ('Norwood Park Elementary School',),
 ('Oriole Park Elementary School',),
 ('Sauganash Elementary School',),
 ('Stephen Decatur Classical Elementary School',),
 ('Talman Elementary School',),
 ('Wildwood Elementary School',)]

What are the top 10 schools with the highest "Average Student Attendance"?

In [12]:
%sql select Name_of_School, Average_Student_Attendance from SCHOOLS \
    order by Average_Student_Attendance desc nulls last limit 10

 * ibm_db_sa://trc40191:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[('John Charles Haines Elementary School', '98.40%'),
 ('James Ward Elementary School', '97.80%'),
 ('Edgar Allan Poe Elementary Classical School', '97.60%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.60%'),
 ('Rachel Carson Elementary School', '97.60%'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50%'),
 ('Andrew Jackson Elementary Language Academy', '97.40%'),
 ('Lenart Elementary Regional Gifted Center', '97.40%'),
 ('Disney II Magnet School', '97.30%'),
 ('John H Vanderpoel Elementary Magnet School', '97.20%')]

Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

Now remove the '%' sign from the above result set for Average Student Attendance column

In [13]:
%sql select Name_of_School, REPLACE(Average_Student_Attendance,'%', '') from SCHOOLS \
    order by Average_Student_Attendance desc nulls last limit 10

 * ibm_db_sa://trc40191:***@9938aec0-8105-433e-8bf9-0fbb7e483086.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32459/BLUDB
Done.

[('John Charles Haines Elementary School', '98.40'),
 ('James Ward Elementary School', '97.80'),
 ('Edgar Allan Poe Elementary Classical School', '97.60'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.60'),
 ('Rachel Carson Elementary School', '97.60'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50'),
 ('Andrew Jackson Elementary Language Academy', '97.40'),
 ('Lenart Elementary Regional Gifted Center', '97.40'),
 ('Disney II Magnet School', '97.30'),
 ('John H Vanderpoel Elementary Magnet School', '97.20')]

Which Schools have Average Student Attendance lower than 70%?

Get the total College Enrollment for each Community Area

Get the 5 Community Areas with the least total College Enrollment sorted in ascending order

List 5 schools with lowest safety score.

Get the hardship index for the community area which has College Enrollment of 4368

Get the hardship index for the community area which has the school with the highest enrollment.